:root {
    --cell-color: blue;
    --input: 16;
    --cell-size: 30px;
}

body {
    background-image: linear-gradient(to right top, #e1238f, #d526a4, #c430ba, #aa3ecf, #854ce2, #6569f2, #3e7ffb, #0092ff, #00b1ff, #00cdff, #00e5fd, #5ffbf1);
    height: 835px;
}

#main {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.container {
    display: inline-block;
    border: 0px solid black;
    padding: 5px;
    background-color: black;
    box-shadow: 10px 10px 14px 1px rgb(0 0 0 / 20%);
    margin-top: 40px;
  }
  .grid {
    display: grid;
    grid-template-columns: repeat(var(--input), var(--cell-size));
    grid-template-rows: repeat(var(--input), var(--cell-size));
    grid-gap: .5px;
    height: 487.5px;
    width: 487.5px; 
  }
  .cell {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial;
    font-size: 3rem;
    font-weight: bold;
    background: white;
    border-color: black;
    border-style: solid;
    border-radius: 5px;
  }

  .button {
      width: 100px;
      height: 65px;
      background-color:#f2f2f2;
      margin-top: 20px;
      font-size: 20px;
      font-weight: bold;
      color: rgb(68, 68, 70);
      border-radius: 13px;
      border-width: 0px;
      box-shadow: 10px 10px 14px 1px rgb(0 0 0 / 20%);
  }

  .button:hover {
    border: solid rgb(206, 206, 207) .5px;
  }

  .cell-color {
      background-color: var(--cell-color, rgb(0, 0, 255));
  }

  .reset {
      animation-duration: background-color;
  }

  @keyframes background-color {
      100% {background-color: white;}
  }

 /* .cell:hover {
      animation-name: background-color;
      animation-duration: 500ms;
      animation-fill-mode: forwards;
  }

  @keyframes background-color {
    from{background-color: white;}
    to{background-color: blue;}
  }
  */