.container {
    display: inline-block;
    border: 5px solid black;
  }
  .grid {
    display: grid;
    grid-template-columns: repeat(5, 80px);
    grid-template-rows: repeat(5, 80px);
    grid-gap: 5px;
  }
  .cell {
    justify-content: center;
    align-items: center;
    display: flex;
    font-family: Arial;
    font-size: 3rem;
    font-weight: bold;
    background: white;
    border-color: black;
    border-style: solid;
  }

  .cell:hover {
      animation-name: background-color;
      animation-duration: 500ms;
      -o-animation-fill-mode: forwards;
  }

  @keyframes background-color {
    0% { 
        background-color: blue;
    }
    100% {
          background-color: blue;
      }
  }